@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,body{
  width:fit-content
} */

.react-calendar {
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.react-calendar__tile--active {
  color: #fff;
  background-color: #fb6f00 !important;
  border-radius: 0.5rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: #e5e7eb;
  display: grid;
  box-shadow: hsl(360, 67%, 44%);
  transition: transform 0.5s linear;
  transform: translate(-100%);
  z-index: 1;
}

.show-sidebar {
  transform: translate(0);
}

.list-sidebar {
  height: 50%;
  align-items: end;
}

.mission-img {
  background-image: url("src/assets/images/photo school kid100.jpg");
  object-fit: cover;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: rgba(15, 56, 118, 0.8);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity:1 */
}

.first-container {
  background: url("src/assets/images/photo school kid100.jpg");
  height: 600px;
  width: 100%;
  object-fit: cover;
  background-size: 100%;
  background-blend-mode: soft-light;
  background-color: rgba(15, 56, 118, 0.8);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.partner {
  height: 30vh;
  background-color: darkgray;
}

/* ................academics................ */

.academic-container {
  background: url("src/assets/images/kenny-eliason-zFSo6bnZJTw-unsplash.jpg");
  height: 600px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: rgba(15, 56, 118, 0.8);
}
