@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,body{
  width:fit-content
} */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: #e5e7eb;
  display: grid;
  box-shadow: hsl(360, 67%, 44%);
  transition: transform 0.5s linear;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

.list-sidebar {
  height: 50%;
  align-items: end;
}

.mission-img {
  background-image: url("https://images.unsplash.com/photo-1599008633840-052c7f756385?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  object-fit: cover;
  background-size: cover;
  /* opacity:1 */
}
