@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,body{
  width:fit-content
} */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: #e5e7eb;
  display: grid;
  box-shadow: hsl(360, 67%, 44%);
  transition: transform 0.5s linear;
  transform: translate(-100%);
}

.show-sidebar {
  transform: translate(0);
}

.list-sidebar {
  height: 50%;
  align-items: end;
}

.mission-img {
  background-image: url("https://images.unsplash.com/photo-1599008633840-052c7f756385?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  object-fit: cover;
  background-size: cover;
  /* opacity:1 */
}

.image_schoolkids {
  height: 500px;
  width: 100%;
  object-fit: contain;
}
/* .con {
  background-image: url("src/images/photo school kid.jpg");
  height: 500px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
} */

.first-container {
  background: url("src/images/photo school kid100.jpg");
  height: 600px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  /* background-color: rgba(red, 0.5); */
  background-blend-mode: soft-light;
  background-color: rgba(15, 56, 118, 0.8);
}

.about-text {
  position: absolute;
  width: 209px;
  height: 48px;
  left: 570px;
  top: 326px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.second-container {
  background-color: #fb6f00;
}

.text {
  text-align: center;
  padding: 35px 0px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  font-family: "inter";
}
.third-container-text100 {
  color: black;
  text-align: center;
  padding: 35px 0px;
  font-size: 40px;
  font-weight: 700;
  font-family: "inter";
}
.text-text {
  font-size: 20px;
  color: #ffffff;
  line-height: 30px;
  padding-bottom: 40px;
  font-family: "inter";
}

.third-container {
  background-color: #f0f0f0;
}

.third-container-text-text {
  font-size: 20px;
  /* color: #0000; */
  line-height: 30px;
  padding-bottom: 40px;
  font-family: "inter";
}

.fourth-flex {
  margin-left: 15vh;
}

.lil-box {
  height: 20vh;
  width: 30vh;
  background-color: darkgray;
}

/* ................academics................ */

.acad-container {
  background: url("src/images/kenny-eliason-zFSo6bnZJTw-unsplash.jpg");
  height: 600px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  /* background-color: rgba(red, 0.5); */
  background-blend-mode: soft-light;
  background-color: rgba(15, 56, 118, 0.8);
}
